/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #384551;
    font-family: 'Montserrat', sans-serif;

}

/* Header */

header {
    background-color: #D7FBF5;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #557EA4;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
    padding-left: 0;
}

h1 {
    text-transform: uppercase;
    color: #bdeee5;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
    margin-top: 1rem;
}

.active {
    border-bottom: 2px solid #384551;
}

/* Styling Navbar */
nav {
    position: absolute;
    background-color: #D7FBF5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #557EA4;
    display: none;
    top: 100%;
}

/* Dropdown menu */

#toggle-bar:checked~nav {
    display: block;
}

#toggle-bar {
    display: none;
}

.toggle-bar-label {
    font-size: 1.5rem;
    margin-left: 5px;
}

/* Main */

main {
    flex: 1 0 auto;
    margin-top: 41px;

}

/* Home page image section */
#home-page-image {
    height: 600px;
    width: 100%;
    background: url("../images/motoki-tonn-GuCdEgE3Gcw-unsplash.jpg") no-repeat center center/cover;
    position: relative;
}

h2,
h3 {
    font-family: 'Montserrat' sans-serif;
    font-size: 120%;
    letter-spacing: 1px;
    color: #031f1a;
}

#home-image-text {
    font-size: 80%;
    position: absolute;
    top: 20px;
    width: 80%;
    min-height: 100px;
    padding: 5px 0 5px 5px;
}

/* Content text Tell me more section */

#tell-me-more {
    background-color: rgba(212, 252, 248, 0.904);
    padding: 10px;
}

#tell-me-more>div {
    background-color: rgba(5, 80, 74, 0.349);
    margin-bottom: 10px;
    margin-top: 20px;

}

#tell-me-more h3 {
    text-align: left;
    padding: 10px 10px 10px 20px;

}

#tell-me-more p {
    font-size: 110%;
    padding: 10px 20px 20px 20px;
}

/* Form */
#signup {
    background-image: url("../images/fallon-michael-VUWDlBXGogg-unsplash.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 20px 10%;
    flex-grow: 1;
}

#signup-form {
    color: #0c362f;
    background-color: #d7fbf5d3;
    padding: 30px;
}

#signup-form>h2 {
    color: #0c362f;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #0c362f;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #157F6E;
    border-radius: 2px;
    padding: 0 5px;
}

.signup {
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 100%;
    background-color: #384551;
    color: white;
}

/* Footer */

footer {
    background-color: #D7FBF5;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    padding: 10%;
    color: #0c362f;
}

/* Media query for tablets and larger than 768px */
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .toggle-bar-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        line-height: 80px;
        margin: 0 0.5rem;
    }

    /* Home page image section */
    #home-page-image {
        height: 800px;
        width: 100%;
        background: url("../images/motoki-tonn-GuCdEgE3Gcw-unsplash.jpg") no-repeat center center/cover;
        position: relative;
    }
        #home-image-text {
            font-size: 80%;
            position: absolute;
            top: 20px;
            width: 80%;
            min-height: 100px;
            padding: 5px 0 5px 0;
        }

    /* Main */

    main {
        /* Make main visible again */
        margin-top: 80px;
    }

    /* Home page image text */
    #home-image-text {
        font-size: 110%;
        width: 400px;
        left: 30px;
        height: 300px;
        padding: 10px 10px 10px 15px;

    }

}

/* Media query for laptops and larger than 992px */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 2px solid #384551;
    }



}

/* Media query for screens larger than 1200px */
@media screen and (min-width: 1200px) {

/* Home page image section */
    #home-page-image {
        height: 1000px;
        background: url("../images/motoki-tonn-GuCdEgE3Gcw-unsplash.jpg") no-repeat cover;
        background-position: bottom left 0;
    }

    #home-image-text {
        /* rgba to make background semi-transparent */
        font-size: 200%;
        position: absolute;
        top: 20px;
        width: 45%;
        height: 420px;
        padding: 20px 20px 20px 20px;
    }

}