/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */

body {
min-height: 100vh;
display: flex;
flex-direction: column;
color: #384551;
font-family: 'Montserrat', sans-serif;

}

/* Header */

header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #557EA4;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    color: #399484;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
    margin-top: 1rem;
}

.active {
    border-bottom: 2px solid #384551;
}

/* Styling Navbar */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #557EA4;
    display: none;
}

/* Main */

main {
    background-color: aquamarine;
    flex: 1 0 auto;

}

/* Footer */

footer {
    background-color: cadetblue;
}